.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background);
}

.mainContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: var(--background);
  border-left: 1px solid #e5e7eb;
}
