.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-md);
  background: var(--container-background);
  border-radius: var(--radius-md);
}

/* .container > form {
  width: 100%;
  max-width: 600px;
} */

.title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}
