.container {
  position: relative;
  display: inline-block;
}

.avatarButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.avatarImage {
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-full);
  padding: var(--padding-xs);
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--background);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 12px var(--card-shadow);
  padding: var(--padding-xs) 0;
  min-width: 200px;
  z-index: 999;
  color: var(--text-primary);
}

.userInfoBox {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--padding-sm) var(--padding-md);
}

.avatarBorder {
  width: 36px;
  height: 36px;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semibold);
  background: var(--background);
  color: var(--color-muted);
}

.avatarInitials {
  font-size: var(--font-size-sm);
}

.userName {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-base);
}

.userRole {
  font-size: var(--font-size-xs);
  color: var(--text-muted);
}

.divider {
  border: none;
  border-top: 1px solid var(--background-color-secondary);
  margin: var(--margin-xs) 0;
}

.item {
  display: block;
  padding: var(--padding-xs) var(--padding-md);
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  color: var(--text-primary);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.item:hover {
  background-color: var(--hover-bg);
  color: var(--accent);
}
